/* Utility Classes start */

/**
* 
*   FONT COLORS
*
**/

.pc {
    color: $pc;
}

.sub_pc {
    color: $spc;
}

.sc {
    color: $sc;
}

.sub_sc {
    color: $ssc;
}

/**
* 
*   BACKGROUND COLORS
*
**/

.pc_bg {
    background: $pc;
}

.sub_pc_bg {
    background: $spc;
}

.sc_bg {
    background: $sc;
}

.sub_sc_bg {
    background: $ssc;
}

/**
* 
*   MISC
*
**/

.ti {
    font-style: italic;
}

.tc {
    text-align: center;
}

/**
* 
*   Custom Buttons
*
**/

/* Utility Classes ends */
