/* Utility Classes start */

/**
* 
*   1. FONT COLORS
*
**/

.pc {
    color: $pc;
}

.sub_pc {
    color: $sub_pc;
}

.sc {
    color: $sc;
}

.sub_sc {
    color: $sub_sc;
}

/**
* 
*   2. BACKGROUND COLORS
*
**/

.pc_bg {
    background: $pc;
}

.sub_pc_bg {
    background: $sub_pc;
}

.sc_bg {
    background: $sc;
}

.sub_sc_bg {
    background: $sub_sc;
}

/**
* 
*   3. MISC
*
**/

.ti {
    font-style: italic;
}

.tc {
    text-align: center;
}

/* Utility Classes ends */
