/*-----------------------------------------------------------------------------------

 Project Name: New Project
 Project URI: http://
 Author: 
 Author URI: 
 Version: 1.0.0

-----------------------------------------------------------------------------------*/

/*** 

====================================================================
			Imports
====================================================================

 ***/

@import 'variables', 'mixins', '_utility';

/*** 

====================================================================
			Fonts
====================================================================

 ***/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/*
font-family: 'Roboto', sans-serif;
 */

/*** 
 
 ====================================================================
     Reset
 ====================================================================
 
  ***/

* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    font-size: 100%;
    line-height: inherit;

    // &::-webkit-scrollbar {
    //     width: 9px;
    // }

    // &::-webkit-scrollbar-track {
    //     -webkit-border-radius: 5px;
    //     border-radius: 5px;
    //     background: rgba(0, 0, 0, 0.1);
    // }

    // &::-webkit-scrollbar-thumb {
    //     -webkit-border-radius: 5px;
    //     border-radius: 5px;
    //     background: $pc;
    // }

    // &::-webkit-scrollbar-thumb:hover {
    //     background: grey;
    // }

    // &::-webkit-scrollbar-thumb:hover {
    //     background: grey;
    // }

    // &::-webkit-scrollbar-thumb:window-inactive {
    //     background: $pc;
    // }
}

/*** 
 
 ====================================================================
     Global Settings
 ====================================================================
 
  ***/

html {
    /* 62.5% of 16px browser font size is 10px */
    font-size: 62.5%;
}

body {
    /* 16px */
    font-size: 1.6rem;
    color: black;
    line-height: 1.7em;
    font-weight: 400;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

a:hover,
a:focus,
a:visited {
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    font-weight: bold;
    margin: 0px;
    background: none;
    line-height: 1.25em;
}

textarea {
    overflow: hidden;
}

button {
    outline: none !important;
    cursor: pointer;
}

p {
    font-size: 16px;
    line-height: 1.7em;
    font-weight: 400;
    margin: 0;
}

::-webkit-input-placeholder {
    color: inherit;
}
::-moz-input-placeholder {
    color: inherit;
}
::-ms-input-placeholder {
    color: inherit;
}

ul,
li {
    padding: 0px;
    margin: 0px;
}

figure {
    margin-bottom: 0;
}

/*** 
 
 ====================================================================
     Reused styles
 ====================================================================
 
 ***/

//  .height_fix {
//     height: 155px;
// }


/* Loader */

// .no-js #loader {
//     display: none;
// }

// .js #loader {
//     display: block;
//     position: absolute;
//     left: 100px;
//     top: 0;
// }

// .se-pre-con {
//     position: fixed;
//     left: 0px;
//     top: 0px;
//     width: 100%;
//     height: 100%;
//     z-index: 9999;
//     background: url(../images/loader.gif) center no-repeat #f1f2f3;
//     background-size: 80px;
// }

// /* navbar onscroll color change css */
// .change_navColor {
//     background: white;
//     @include box-shadow(0px 2px 10px rgba(64, 0, 134, 0.0708861));
//     animation: slideInDown 1s both;

//     .navbar-toggler {
//         svg {
//             @include max(767px) {
//                 fill: black;
//             }
//         }
//     }
// }


// @-webkit-keyframes slideInDown {
//     0% {
//         -webkit-transform: translate3d(0, -100%, 0);
//         transform: translate3d(0, -100%, 0);
//         visibility: visible
//     }

//     to {
//         -webkit-transform: translateZ(0);
//         transform: translateZ(0)
//     }
// }

// @keyframes slideInDown {
//     0% {
//         -webkit-transform: translate3d(0, -100%, 0);
//         transform: translate3d(0, -100%, 0);
//         visibility: visible
//     }

//     to {
//         -webkit-transform: translateZ(0);
//         transform: translateZ(0)
//     }
// }

// .slideInDown {
//     -webkit-animation-name: slideInDown;
//     animation-name: slideInDown
// }

// /* Scroll to top */
// .scroll_top_icon {
//     position: fixed;
//     right: 20px;
//     bottom: -50px;
//     font-size: 16px;
//     cursor: pointer;
//     color: black;
//     @include transition(0.3s linear);
//     width: 35px;
//     height: 35px;
//     border-radius: 50%;
//     background: $pc;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     svg {
//         width: 15px;
//         fill: white;
//     }

//     &:hover {
//         background: $sc;
//     }

// }


/*** 
 
 ====================================================================
     Main Nav style
 ====================================================================
 
 ***/

 
