/*-----------------------------------------------------------------------------------

 Project Name: New Project
 Project URI: http://
 Author: 
 Author URI: 
 Version: 1.0.0

-----------------------------------------------------------------------------------*/

/*** 

====================================================================
			Imports
====================================================================

 ***/

@import 'variables', 'mixins', '_utility';
@import url('../../lib/Bootstrap/bootstrap.min.css');
@import url('../../lib/Swiper JS/swiper.min.css');
@import url('../../lib/animate.min.css');

/*** 

====================================================================
			Fonts
====================================================================

 ***/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/*
font-family: 'Roboto', sans-serif;
 */

/*** 
 
 ====================================================================
     Reset
 ====================================================================
 
  ***/

* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    font-size: 100%;
    line-height: inherit;
}

/*** 
 
 ====================================================================
     Global Settings
 ====================================================================
 
  ***/

body {
    font-size: 16px;
    color: black;
    line-height: 1.7em;
    font-weight: 400;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

a:hover,
a:focus,
a:visited {
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    font-weight: bold;
    margin: 0px;
    background: none;
    line-height: 1.25em;
}

textarea {
    overflow: hidden;
}

button {
    outline: none !important;
    cursor: pointer;
}

p {
    font-size: 16px;
    line-height: 1.7em;
    font-weight: 400;
    margin: 0;
}

::-webkit-input-placeholder {
    color: inherit;
}
::-moz-input-placeholder {
    color: inherit;
}
::-ms-input-placeholder {
    color: inherit;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

figure {
    margin-bottom: 0;
}

/*** 
 
 ====================================================================
     Main Nav style
 ====================================================================
 
 ***/
